DIY ETL with Azure tools/pipeline/3 diy-pbi-to-sql.json
{
	"name": "3 diy-pbi-to-sql",
	"properties": {
		"activities": [
			{
				"name": "Function powerbi-diyetl",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set blobname variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "http-powerbi-diyetl",
					"method": "POST",
					"body": {
						"value": "@json(concat('{\"blobname\": \"', variables('blobname'), '\"}'))",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_func_powerbidiyetl",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set blobname variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Log Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "blobname",
					"value": {
						"value": "@concat('PBI_Security_',utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy from Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Function powerbi-diyetl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_blob_pbimetadata",
						"type": "DatasetReference",
						"parameters": {
							"blobname": {
								"value": "@variables('blobname')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_asql_pbimetadatadb",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADF_LOG_START]",
					"storedProcedureParameters": {
						"pipeline_run": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_asql_diyetldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy from Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADF_LOG_END]",
					"storedProcedureParameters": {
						"run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_asql_diyetldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"blobname": {
				"type": "String"
			}
		},
		"annotations": []
	}
}