DIY ETL with Azure tools/pipeline/diy-pbi-to-sql.json
{
	"name": "diy-pbi-to-sql",
	"properties": {
		"activities": [
			{
				"name": "Function powerbi-diyetl",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set blobname variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "http-powerbi-diyetl",
					"method": "POST",
					"body": {
						"value": "{\n\"blobname\": '@variables('blobname')'\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_func_powerbidiyetl",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set blobname variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "blobname",
					"value": {
						"value": "@concat('PBI_Security_',utcNow())",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"blobname": {
				"type": "String"
			}
		},
		"annotations": []
	}
}